*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.headertop{
    background-color: rgb(147, 141, 141);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#englishicon{
    width: 1rem;
}
#english{
    display: none;
}

#logoimage{
    width: 2rem;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    
}
#navlist{
    display: flex;
  flex-direction:row ;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  
}
.links{
    color: black;
}
.headerlink{
    position: relative;
}
.count{
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    translate: 50% -50%;
}

  .catagorybtn  {
    
    display: none;
  }



.items{
    display: none;
}





@media only screen and (min-width: 927px){
    #settingbutton{
        display: none;
    }
    #english{
        display: flex;
    }
    
    .headertop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
     }
     #topcontainer{
        max-width: 1100px;
         display: flex;
         flex-direction: row;
         justify-content: baseline;
         align-items: center;
        gap: 700px;
        margin: 0 auto;
     }

     .catagorybtn  {
        background-color:  #0aad0a;
        width: 10rem;
        height: 3rem;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding-left: 0.6rem;
        cursor: pointer;
        display: flex;
      }
      .catagorybtn span{
        color: white;
    
    }

    .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        display:flex;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 900px;
        gap: 2rem;
        font-size: 0.8rem;
        margin-left: 3rem;
        
    }

    header{
        padding-bottom: 1.5rem;
        border-bottom: 1px solid;
    }



}